/* Style for the page title */
.privacyh{
    font-size: 24px;
    color: #090909;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  
  /* Style for section headings */
  h2, h3 {
    font-size: 20px;
    color: #080101;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  /* Style for paragraphs */
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #0c0707;
  }
  
  /* Style for links */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  /* Style for unordered lists */
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  /* Style for list items */
  li {
    margin-bottom: 10px;
  }
  
  /* Style for code snippets or inline code */
  code {
    background-color: #f8f8f8;
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Consolas, Monaco, monospace;
  }