/* FoodCard.css */

.search{
    width: 600px;
    padding: 10px;
  margin-left: 320px;
  margin-top: 100px;
  border-color: black;
  }
  .food-card {
    float:left;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width:300px;
    margin-top: 80px;
   
  }
  
  .food-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .food-details {
    flex: 1;
    padding-left: 10px;
  }
  
  .food-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color:black;
  }
  
  .food-location {
    font-size: 14px;
    color: #888;
  }
  
  .pickup-delivery {
    font-size: 14px;
    color: #555;
  }