.terms-and-conditions-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin-top: 80px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 20px;                
    margin-top: 20px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  strong {
    font-weight: bold;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  a {
    color: #007bff;
    text-decoration: underline;
  }
  
  a:hover {
    text-decoration: none;
  }